.about-heading {
    text-align: center;
    margin-top: 20px;
}

.about-section {
    margin-top: 20px;
}

.about-image {
    width: 100%;
    height: auto;
}

.reviews-heading {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}

.review-card {
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px;
    text-align: center;
}

.review-row{
    margin: 2rem;
}


.review-username {
    color:black;
    font-weight: bold;
    text-align: center;
}

.review-comment {
    color:black;
    text-align: left;
}

.review-input {
    width: 50%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

.submit-review-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust as needed */
}

.submit-review-btn {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}



/* Pagination styles */
.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination li.active {
    font-weight: bold;
}
