/* MyPackages.css */

.my-packages-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.package-item {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
}

.package-title {
    margin-top: 0;
    font-size: 1.5em;
}

.package-status {
    font-weight: bold;
    color: #5a5a5a;
}

.package-locations {
    font-style: italic;
    color: #757575;
}

.package-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.image {
    flex: 0 0 auto;
    width: 100%;
    max-width: 150px;
    /* Reduced maximum width */
    height: auto;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.actions {
    margin-top: 1rem;
}

.button,
.delete-button {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 0.9em;
}

.button {
    background-color: #4caf50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}