.booking__success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking__success-text {
    text-align: center;
}

.checkmark-container {
    margin-bottom: 10px;

}

.booking__success-text .custom__message {
    font-size: 1.2rem;
    /* Adjust the font size as needed */
}

.booking__success-text .custom__heading {
    font-size: 2.5rem;
}


.checkmark-image {
    width: 128px;

    height: 128px;

    margin-right: 20px;

}

.booking__success-message h1 {
    font-size: 2em;

    margin-bottom: 10px;

}

.normal-text {
    font-size: 1em;

    margin-top: 0;

}




.custom-button {
    background-color: var(--secondary-color) !important;
    color: #ffffff !important;
}

.custom-button:hover {
    background-color: var(--primary-color) !important;
}

.custom-login-modal .modal-dialog {
    max-width: 1000px !important;
    width: 100% !important;
    margin: 0 auto !important;
    max-height: 80vh !important;

}

.custom-login-modal .modal-content {
    width: 100% !important;
    max-height: 100% !important;

}

.custom-login-modal .modal-body {
    overflow-y: auto;
}

.custom-login-modal .login__container {
    margin-top: 0px;

}

.custom-login-modal .col-lg-8 {
    width: 100%;

}

.booking__detail__title {
    margin-bottom: 1.2rem;
}

.booking {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    position: sticky;
    top: 80px;
}

.booking__top h3 {
    font-size: 2rem;
    font-weight: 700rem;
}

.booking__top h3 span {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color)
}

.booking__top span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}

.booking__top span i {
    color: var(--secondary-color);
}

.booking__top {
    /* padding-top: 2rem; */
    border-bottom: 1px solid rgb(229, 231, 235)
}

/* .booking__form {
    padding-top: 2rem;
} */

.booking__form h5 {
    padding-top: 1rem;
}



.booking__info-form {
    padding: 1rem;
    border: 1px solid rgb(229, 231, 235);
}

.booking__bottom li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking__bootom li h5,
.booking__bottom li span {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
}

.booking__bottom .total {
    font-weight: bold;
    color: var(--heading-color);
}

/* 
.booking__form input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--heading-color);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(229, 231, 235);

}

.booking__form input:focus {
    outline: none;
}

.booking__info-form {
    padding: 1rem;
    border: 1px solid rgb(229, 231, 235)
} */